

//Gilroy
@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff') format('woff');
    src: url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff');
    src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff');
    src: url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

//ProximaNova-Regular

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff');
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

//Raissey

// @font-face {
//     font-family: 'Raissey';
//     src: url('../fonts/Raissey/Raissey.woff') format('woff');
//     src: url('../fonts/Raissey/Raissey.woff2') format('woff2');
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Solena';
    src: url('../fonts/Solena/Solena-Regular.woff2') format('woff2'),
        url('../fonts//Solena/Solena-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}