.title-2{
    color: $accent-1;
    font-family: 'Gilroy-Bold';
    font-size: 7.2rem;
    line-height: 7.4rem;
}
.description{
    color: $white;
    font-family: 'ProximaNova-Regular';
    font-size: 1.6rem;
    line-height: 2.5rem;
}